
.navbar{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    overflow:hidden;
    background-color: white;
}

.logo{
    float:left;
}

.navcontainer a{
    float: left;
    color:black;
    text-align: center;
    padding:14px 20px;
    text-decoration: none;
    font-size:20px;
    display:inline;
    /*background-color: grey; */
    vertical-align: top;
    /* border-bottom: 1px solid black; */
}

.navcontainer a:hover{
    background-color:gainsboro;
}

.login{
    /* background-color: orange; */
    display:inline;
    float:right;
    font-size:15px;
    border:none;
}

.vid{
    display:block;
    text-align: center;
    margin: 100px 100px 100px 100px;
    padding: 50px;
    background-color: grey;
    width: 700px;
    height: 500px;
}

.goal{
    display:block;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 17px;
    /*border: 1px groove grey;*/
    margin:20px;
    padding: 50px 300px 50px 300px;
}

.goal p{
    color:darkgray;
}
.goal img{
    float:right;
    margin-left: 10px;
    height:276.5px; 
    width:500px;
}
.info p{
    background-color:darkgray;
    display:block;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 17px;
    border: 1px darkgray;
    margin:auto;
    padding: 50px 300px 50px 300px;
    color: white;
    font-weight: lighter;
}
